{
    "Serilog": {
        "MinimumLevel": {
            "Default": "Debug",
            "Override": {
                "Default": "Debug",
                "System": "Warning",
                "Microsoft": "Warning",
                "Orleans": "Warning"
            }
        },
        "WriteTo": [
            {
                "Name": "Console",
                "Args": {
                    "outputTemplate": "[{Timestamp:yyyy-MM-dd HH:mm:ss.fff}{Offset:zzz}][{Level:u3}] [{SourceContext}] {Message}{NewLine}{Exception}"
                }
            }
        ]
    },
    "Orleans": {
        "ClusterId": "TmrwDaoSiloCluster",
        "ServiceId": "TmrwDaoOrleansBasicService",
        "IsRunningInKubernetes": false,
        "AdvertisedIP": "{{ .AdvertisedIP }}",
        "GatewayPort": {{ .GatewayPort }},
        "SiloPort": {{ .SiloPort }},
        "MongoDBClient": "{{ .MongoDbUrl }}",
        "DataBase": "TMRWDAOServerOrleansDB",
        "DashboardUserName": "admin",
        "DashboardPassword": "admin123456",
        "DashboardCounterUpdateIntervalMs": 1000,
        "DashboardPort": 7011,
        "EventStoreConnection": "ConnectTo=tcp://127.0.0.1:1113; HeartBeatTimeout=500",
        "ClusterDbConnection": "{{ .RedisHostPort }}",
        "ClusterDbNumber": 0,
        "GrainStorageDbConnection": "{{ .RedisHostPort }}",
        "GrainStorageDbNumber": 0,
        "CollectionAge": 120,
        "MinDotNetThreadPoolSize": 1000,
        "MinIOThreadPoolSize": 1000
    },
    "ConnectionStrings": {
        "Default": "{{ .MongoDbUrl }}TomorrowDAOServer"
    },
    "GraphQL": {
        "Configuration": "{{ .AppUrl }}/{{ .AppId }}/__APP_VERSION__/graphql"
    },
    "ElasticUris": {
        "Uris": [
            "{{ .ElasticsearchUrl }}"
        ]
    },
    "IndexSetting": {
        "NumberOfShards": 5,
        "NumberOfReplicas": 1,
        "IndexPrefix": "TomorrowDAOServer"
    },
    "Redis": {
        "Configuration": "{{ .RedisHostPort }}"
    },
    "RabbitMQ": {
        "Connections": {
            "Default": {
                "HostName": "{{ .RabbitMqHost }}",
                "Port": "{{ .RabbitMqPort }}",
                "UserName": "admin",
                "Password": "admin"
            }
        }
    },
    "Chains": {
        "ChainInfos": {
            "AELF": {
                "BaseUrl": "{{ .AelfNodeUrl }}",
                "IsMainChain": true,
                "ContractAddress": {
                    "CaAddress": "238X6iw1j8YKcHvkDYVtYVbuYk2gJnK8UoNpVCtssynSpVC8hb"
                }
            },
            "tDVW": {
                "BaseUrl": "{{ .AelfNodeUrl }}",
                "IsMainChain": false,
                "ContractAddress": {
                    "CaAddress": "238X6iw1j8YKcHvkDYVtYVbuYk2gJnK8UoNpVCtssynSpVC8hb"
                }
            }
        },
        "PrivateKeyForCallTx": "1111111111111111111111111111111111111111111111111111111111111111",
        "TokenImageRefreshDelaySeconds": 300
    },
    "CoinGecko": {
        "CoinIdMapping": {
            "ELF": "aelf",
            "USDT": "tether"
        },
        "BaseUrl": "https://api.coingecko.com/api/v3",
        "ApiKey": ""
    },
    "Exchange": {
        "DataExpireSeconds": 300,
        "Binance": {
            "BaseUrl": "https://data-api.binance.vision",
            "Block429Seconds": 300
        },
        "Okx": {
            "BaseUrl": "https://aws.okx.com"
        }
    },
    "AwsS3": {
        "BucketName": "testnet1-tmrwdao",
        "Path": "tomorrowDAO",
        "RegionEndpoint": "ap-northeast-1"
    },
    "SecurityServer": {
        "BaseUrl": "http://10.10.33.126:18080",
        "AppId": "tomorrowDAO",
        "AppSecret": "12345678",
        "keyIds": {
            "AwsS3IdentityPool": "AwsS3IdentityPool"
        }
    }
}